:root {
  --main-color: #118d79;
  --orange-color: #ff5e3e;
  --blue-color: #030f66;
  --white-color: #ffff;
  --text-color: #4d4d4d;
  --Quicksand-font: "Quicksand", sans-serif;
  --Lexend-Deca-font: "Lexend Deca", sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#try {
  
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-around;
  
}
.data {

  border: 3px solid var(--main-color);
  border-radius: 10px;
  
}
.xperData {
  width: 100%;
  height: 70px;
  display: flex;
align-items: center;
  justify-content: left;
  margin: 20px 0 20px 8%;
  padding: 0;
}
.img {
  aspect-ratio: 1 / 1;
  height: 90%;
  background-image: url(video/xperHead.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  border: solid 3px var(--main-color);
  margin-right: 10px;
}
.nombre > p {
  font-family: var(--Lexend-Deca-font);
  color: var(--blue-color);
  font-size: 17px;
  margin: 0;
}
.nombre > h1 {
  font-family: var(--Quicksand-font);
  color: var(--main-color);
  font-size: 35px;
  margin: 0;
}
.stats {
  width: 300px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 0 0 8% ;
}
.hangMan{
  width: 100%;
  height: 70px;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hangMan > img{
  height: 75%;
}
.animation {
  aspect-ratio: 1/.8;
  border: 3px solid var(--main-color);
  border-radius: 10px;
  width: 100%;
  margin-bottom: 15px;
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#mistakes,
#max_wrong {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#mistakes > p,
#max_wrong > p,
i {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: var(--Quicksand-font);
  font-weight: 800;
  font-size: 23px;
  color: var(--main-color);
  margin-right: 10px;
}
#key_input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#errorPlace,
#livesBar {
  width: 100%;
  display: flex;
}
.remove > div {
  background-color: var(--main-color) !important;
}
.error > button,
#livesBar > div {
  width: 30px;
  height: 20px;
  border-radius: 5px;
  background-color: var(--main-color);
  margin: 3px;
  border: none;
  transition: all 0.1s ease-in;
}
#errorCreate,
.LivesCreate {
  background-color: var(--orange-color) !important;
  transform: scale(1.1);
}












#memoryCard, #try{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
#game {
  
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-area{
    
    margin: 10px;
}
.card-area,
.card,
.face{
  cursor: pointer;
  aspect-ratio: 1/1.5;
  width: 120px;
  min-width: 100px;
  border-radius: 10px;
}

.card{
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s;
    perspective: 10000;
    -webkit-perspective: 10000;
    transition: all .5s ease-in-out;
    
}

@keyframes rotate{
  from{
transform: rotateY(0);
  }
  25%,75%{
    transform: rotateY(180deg);
  }
  to{
    transform: rotateY(0);
  }
}
.face {
  position: absolute;
  backface-visibility: hidden;
  
  
}
.Back> img{
  height: 100%;
}

.border{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: solid 5px var(--main-color);
  margin: auto;
}

.label{
  position: absolute;
 vertical-align: middle;
 font-family: var(--Lexend-Deca-font);
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  border-radius: 100%;
  bottom: -20px;
  width: 50px;
  height: 50px;
  background-color: var(--main-color);
}

.Front {
  background-color: var(--main-color);
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img//BackCard.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat
}

.Back {
  position: relative;
  background-color: black;
  color: aliceblue;
  font-size: 50px;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#cardCorrectPlace{
  width: 20%;
  border: dashed  3px var(--main-color);
  border-radius: 10px;
}
